USE [master]
GO
/****** Object:  Database [university]    Script Date: 6/17/2026 2:35:38 PM ******/
CREATE DATABASE [university]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'university', FILENAME = N'C:\Users\s.sardarizadeh\university.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'university_log', FILENAME = N'C:\Users\s.sardarizadeh\university_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [university].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [university]
GO
/****** Object:  Table [dbo].[Fields]    Script Date: 6/17/2026 2:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fields](
	[FieldId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FieldId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 6/17/2026 2:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Prerequisite] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presentation]    Script Date: 6/17/2026 2:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presentation](
	[PresentationId] [int] IDENTITY(1,1) NOT NULL,
	[professorId] [int] NULL,
	[LessonId] [int] NULL,
	[TermId] [int] NULL,
	[fieldId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PresentationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professors]    Script Date: 6/17/2026 2:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professors](
	[ProfessorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfessorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 6/17/2026 2:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[fieldId] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terms]    Script Date: 6/17/2026 2:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terms](
	[TermId] [int] IDENTITY(1,1) NOT NULL,
	[year] [int] NULL,
	[period] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TermId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitSelection]    Script Date: 6/17/2026 2:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitSelection](
	[UnitSelectionId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[PresentationId] [int] NOT NULL,
	[TermId] [int] NOT NULL,
	[Score] [int] NULL,
 CONSTRAINT [PK__UnitSele__CD53C78958D0F303] PRIMARY KEY CLUSTERED 
(
	[UnitSelectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Fields] ON 

INSERT [dbo].[Fields] ([FieldId], [Title]) VALUES (1, N'it')
INSERT [dbo].[Fields] ([FieldId], [Title]) VALUES (2, N'accunting')
INSERT [dbo].[Fields] ([FieldId], [Title]) VALUES (3, N'software')
SET IDENTITY_INSERT [dbo].[Fields] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

INSERT [dbo].[Lessons] ([LessonId], [Title], [Prerequisite]) VALUES (1, N'c#', N'')
INSERT [dbo].[Lessons] ([LessonId], [Title], [Prerequisite]) VALUES (2, N'database', N'')
INSERT [dbo].[Lessons] ([LessonId], [Title], [Prerequisite]) VALUES (3, N'network', N'')
SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Presentation] ON 

INSERT [dbo].[Presentation] ([PresentationId], [professorId], [LessonId], [TermId], [fieldId]) VALUES (1, 1, 2, 1, 1)
INSERT [dbo].[Presentation] ([PresentationId], [professorId], [LessonId], [TermId], [fieldId]) VALUES (2, 1, 1, 1, 1)
INSERT [dbo].[Presentation] ([PresentationId], [professorId], [LessonId], [TermId], [fieldId]) VALUES (8, 2, 3, 2, 2)
SET IDENTITY_INSERT [dbo].[Presentation] OFF
GO
SET IDENTITY_INSERT [dbo].[Professors] ON 

INSERT [dbo].[Professors] ([ProfessorId], [Name]) VALUES (1, N'sajad')
INSERT [dbo].[Professors] ([ProfessorId], [Name]) VALUES (2, N'sohi')
INSERT [dbo].[Professors] ([ProfessorId], [Name]) VALUES (3, N'poor')
SET IDENTITY_INSERT [dbo].[Professors] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [Name], [fieldId]) VALUES (1, N'saeid', 1)
INSERT [dbo].[Students] ([StudentId], [Name], [fieldId]) VALUES (2, N'sina', 1)
INSERT [dbo].[Students] ([StudentId], [Name], [fieldId]) VALUES (3, N'bamdad', 2)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
SET IDENTITY_INSERT [dbo].[Terms] ON 

INSERT [dbo].[Terms] ([TermId], [year], [period]) VALUES (1, 1405, 1)
INSERT [dbo].[Terms] ([TermId], [year], [period]) VALUES (2, 1405, 2)
INSERT [dbo].[Terms] ([TermId], [year], [period]) VALUES (3, 1405, 3)
SET IDENTITY_INSERT [dbo].[Terms] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitSelection] ON 

INSERT [dbo].[UnitSelection] ([UnitSelectionId], [StudentId], [PresentationId], [TermId], [Score]) VALUES (16, 1, 1, 1, 20)
INSERT [dbo].[UnitSelection] ([UnitSelectionId], [StudentId], [PresentationId], [TermId], [Score]) VALUES (17, 1, 2, 1, 19)
INSERT [dbo].[UnitSelection] ([UnitSelectionId], [StudentId], [PresentationId], [TermId], [Score]) VALUES (18, 2, 1, 1, 18)
SET IDENTITY_INSERT [dbo].[UnitSelection] OFF
GO
/****** Object:  Index [Uniq_key_sddsd]    Script Date: 6/17/2026 2:35:39 PM ******/
ALTER TABLE [dbo].[UnitSelection] ADD  CONSTRAINT [Uniq_key_sddsd] UNIQUE NONCLUSTERED 
(
	[StudentId] ASC,
	[PresentationId] ASC,
	[TermId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Presentation]  WITH CHECK ADD  CONSTRAINT [FK_f_p] FOREIGN KEY([fieldId])
REFERENCES [dbo].[Fields] ([FieldId])
GO
ALTER TABLE [dbo].[Presentation] CHECK CONSTRAINT [FK_f_p]
GO
ALTER TABLE [dbo].[Presentation]  WITH CHECK ADD  CONSTRAINT [FK_l_p] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonId])
GO
ALTER TABLE [dbo].[Presentation] CHECK CONSTRAINT [FK_l_p]
GO
ALTER TABLE [dbo].[Presentation]  WITH CHECK ADD  CONSTRAINT [FK_p_p] FOREIGN KEY([professorId])
REFERENCES [dbo].[Professors] ([ProfessorId])
GO
ALTER TABLE [dbo].[Presentation] CHECK CONSTRAINT [FK_p_p]
GO
ALTER TABLE [dbo].[Presentation]  WITH CHECK ADD  CONSTRAINT [FK_t_p] FOREIGN KEY([TermId])
REFERENCES [dbo].[Terms] ([TermId])
GO
ALTER TABLE [dbo].[Presentation] CHECK CONSTRAINT [FK_t_p]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_field_Students] FOREIGN KEY([fieldId])
REFERENCES [dbo].[Fields] ([FieldId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_field_Students]
GO
ALTER TABLE [dbo].[UnitSelection]  WITH CHECK ADD  CONSTRAINT [FK_p_u] FOREIGN KEY([PresentationId])
REFERENCES [dbo].[Presentation] ([PresentationId])
GO
ALTER TABLE [dbo].[UnitSelection] CHECK CONSTRAINT [FK_p_u]
GO
ALTER TABLE [dbo].[UnitSelection]  WITH CHECK ADD  CONSTRAINT [FK_s_u] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[UnitSelection] CHECK CONSTRAINT [FK_s_u]
GO
ALTER TABLE [dbo].[UnitSelection]  WITH CHECK ADD  CONSTRAINT [FK_t_u] FOREIGN KEY([TermId])
REFERENCES [dbo].[Terms] ([TermId])
GO
ALTER TABLE [dbo].[UnitSelection] CHECK CONSTRAINT [FK_t_u]
GO
USE [master]
GO
